<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remoção de Itens </title>
    <style>
    body {
        background-color: #013e80;
        text-align: center;
        color: white;
        font-style:initial;
    }
    .delete_file {
        margin-top: 20%;
    }

    .item img {
        margin-top: 5px;
    }
    .item img:hover {
        cursor: pointer;
    }
     
    </style>
   
</head>

<script>
    function copyItem(item){
        navigator.clipboard.writeText(item)
    }

    // return a promise
    function copyToClipboard(textToCopy) {
    // navigator clipboard api needs a secure context (https)
    if (navigator.clipboard && window.isSecureContext) {
        // navigator clipboard api method'
        return navigator.clipboard.writeText(textToCopy);
    } else {
        // text area method
        let textArea = document.createElement("textarea");
        textArea.value = textToCopy;
        // make the textarea out of viewport
        textArea.style.position = "fixed";
        textArea.style.left = "-999999px";
        textArea.style.top = "-999999px";
        document.body.appendChild(textArea);
        textArea.focus();
        textArea.select();
        return new Promise((res, rej) => {
            // here the magic happens
            document.execCommand('copy') ? res() : rej();
            textArea.remove();
        });
    }
}
</script>

<body>
    <div class="delete_file">
        Digite o código do item e o tipo (Ex.: 0000-I.jpg)<br>
        <form action="/images/itens/deletefile" method="post">
            <input name="file" id="input_delete" class="input_delete">
            <button type="submit" class="buttonDel" id="buttonDel">X DELETE</button>
        </form>
        
    </div>

    
    <div>
        
    </div>

    <div class="list_itens">
        <p>Arquivos existentes no diretório</p>
        
        <% itens.forEach((item)=>{ %>
        <div class="item">
            <span><%=item%> - </span>
            <img width="20px" src="/images/copy.png" onclick="copyToClipboard('<%=item%>')">
            <br>--------------------<br>
        </div>
        <%}) %>
        
    </div>
</body>

</html>