<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remoção de Itens </title>
    <style>
    body {
        background-color: #013e80;
        text-align: center;
        color: white;
        font-style:initial;
    }
    table {
        margin-left: auto;
        margin-right: auto;
    }
    .delete_file {
        margin-top: 20%;
    }

    .item img {
        margin-top: 5px;
    }
    .item img:hover {
        cursor: pointer;
    }

    .div-table {
        display: inline-block;
        text-align: center;
    }
     
    </style>
   
</head>

<script>



</script>

<body>
    <div class="delete_file">
        Digite o código do item e o tipo (Ex.: 0000-I.jpg)<br>
        <form action="/images/itens/deletefile" method="post">
            <input name="file" id="input_delete" class="input_delete">
            <button type="submit" class="buttonDel" id="buttonDel">X DELETE</button>
        </form>   
    </div>

    <div class="list_itens">
        <p>Arquivos existentes no diretório</p>
        <% 
        function divideNumber(number, parts) {
            const chunkSize = Math.floor(number / parts);
            const remainder = number % parts;
            const result = [];
            for (let i = 0; i < parts; i++) {
              result.push(chunkSize);
            }
            for (let i = 0; i < remainder; i++) {
              result[i] += 1;
            }
            return result;
          }

        
        let totalDivPorQuatro = divideNumber(itens.length, 4);
        
        let parte1 = totalDivPorQuatro[0];
        let parte2 = totalDivPorQuatro[0]+totalDivPorQuatro[1];
        let parte3 = parte2+totalDivPorQuatro[2];
        let parte4 = parte3+totalDivPorQuatro[3];
        let qtdPrmeiraTabela = itens.slice(0,parte1);
        let qtdSegundaTabela = itens.slice(parte1, parte2);
        let qtdTerceiraTabela = itens.slice(parte2, parte3);
        let qtdQuartaTabela = itens.slice(parte3, parte4); 
        %>
        <div class="div-container">
        <div class="div-table"><%- include('./deleteitenstable', {itens:qtdPrmeiraTabela}); %></div>
        <div class="div-table"><%- include('./deleteitenstable', {itens:qtdSegundaTabela}); %></div>
        <div class="div-table"><%- include('./deleteitenstable', {itens:qtdTerceiraTabela}); %></div>
        <div class="div-table"><%- include('./deleteitenstable', {itens:qtdQuartaTabela}); %></div>
        </div>
    </div>
</body>

</html>