<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fila Producao</title>
    <style>
        body {
        background-color: #013e80;
        text-align: justify;
        color: white;
    }
    h2 {
        display: inline-block;
        text-align: center;
    }   
    </style>
    
</head>
<body>
    <h2>
        Recurso inexistente ou sem OPs programadas !
    </h2>
</body>

</html>