body {
    background-color:#305c54;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.painel {
    text-align: left;
	display: inline-block;
	vertical-align: top;
}

.container {
    display: inline-block;
    margin: auto;
}
div span, h1 {
    margin-right: 0px;
	font-family: 'Times New Roman', serif;
	color: white;
	font-size: 20px;
}
.input, .select {
    width: 170px;
    padding: 10px;
    font-size: 26px;
    border-width: 1px;
    border-color: #0eff04;
    background-color: #0000ff;
    color: #ffffff;
    border-style: solid;
    border-radius: 22px;
    box-shadow: 0px 0px 5px rgba(66,66,66,.75);
    text-shadow: 0px 0px 5px rgba(66,66,66,.75);
        }
.input:focus {
    outline:none;
        }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.buttonStart, .buttonMaquina {
	width: 280px;
    box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:5px;
	border:1px solid #566963;
	
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	font-weight:bold;
	padding:20px 20px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.buttonStart:hover, .buttonMaquina:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
.buttonStart:active, .buttonMaquina:active {
	position:relative;
	top:1px;
}
.buttonOK {
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background-color:#0eff04;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:26px;
	font-weight:bold;
	padding:10px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #aade7c;
}
.buttonOK:hover {
	background-color:#274d26;
}
.buttonOK:active {
	position:relative;
	top:1px;
}
.msgSend {
	color:#0eff04;
}

.resetButton {
	background-color: crimson;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:26px;
	font-weight:bold;
	padding:10px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #aade7c;

}
.resetButton:hover {
	background-color: darkred;
}
.sendButton {
	background-color: #0eff04;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:26px;
	font-weight:bold;
	padding:10px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #aade7c;

}
.sendButton:hover {
	background-color: #274d26;
}