body {
    background-color:#171717;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.painel {
    text-align: left;
	display: inline-block;
	vertical-align: top;
}
.logoCIM, .titleCIM1, .titleCIM2 {
	display: inline-block;
	vertical-align: text-top;
}
.titleCIM1 {
	margin-left: 0px;
}
.titleCIM2 {
	margin-left: 355px;
}
#iframeApontamentosAtual, #iframeUltimosApontamentos{
	border-color: #ffffff;
	border-radius: 5px;
	border-width: 3px;
	border-style: solid;
}
.container {
    display: inline-block;
    margin: auto;
}
div span, h1 {
    margin-right: 0px;
	font-family: 'Times New Roman', serif;
	color: white;
	font-size: 20px;
}
.input, .select {
    width: 170px;
    padding: 10px;
    font-size: 26px;
    border-width: 1px;
    border-color: #ffffff;
    background-color: #0055b3;
    color: #ffffff;
    border-style: solid;
    border-radius: 22px;
    box-shadow: 0px 0px 5px rgba(66,66,66,.75);
    text-shadow: 0px 0px 5px rgba(66,66,66,.75);
        }
.input:focus {
    outline:none;
        }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#valueStart, #valueStop {
	color: white;
}
.buttonStart, .buttonMaquina {
	width: 280px;
    box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #c0c0c0 5%, #adadad 100%);
	background-color:#768d87;
	border-radius:5px;
	border:1px solid #ffffff;
	cursor:pointer;
	color:black;
	font-family:Arial;
	font-size:19px;
	font-weight:bold;
	padding:20px 20px;
	text-decoration:none;
}
.buttonStart:hover, .buttonMaquina:hover {
	background:linear-gradient(to bottom, #00f9ff 5%, #0055b3 100%);
	background-color:#6c7c7c;
}
.buttonStart:active, .buttonMaquina:active {
	position:relative;
	top:1px;
}
.buttonOK {
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background-color:#288f24;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:26px;
	font-weight:bold;
	padding:10px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #aade7c;
}
.buttonOK:hover {
	background-color:#274d26;
}
.buttonOK:active {
	position:relative;
	top:1px;
}
.msgSend {
	color:#0eff04;
}

.resetButton {
	background-color: firebrick;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:26px;
	font-weight:bold;
	padding:10px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #aade7c;

}
.resetButton:hover {
	background-color: darkred;
}
.sendButton {
	background-color: #1d940b;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:26px;
	font-weight:bold;
	padding:10px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #aade7c;

}
.listMaqButton {
	background-color: #013e80;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:26px;
	font-weight:bold;
	padding:10px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #aade7c;

}
.sendButton:hover {
	background-color: #274d26;
}
.listMaqButton:hover {
	background-color: #225b97;
}
.maquinas h2 {
	color: white;
}